html {
  scroll-behavior: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  overscroll-behavior: none;
  overflow-x: hidden;
}

video {
  display: block;
  will-change: auto;
  image-rendering: auto;
  image-rendering: crisp-edges;
  image-rendering: pixelated;
}
